<section class="header">
  <nav class="header__nav">
    <div class="titles">
      <img src="./assets/letter.svg" alt="letter">
      <p class="title">События</p>
    </div>
    <div class="nav-buttons">
      <button class="button button__table" (click)="clicked()" [disabled]="!switchSelectedData"
              [class.button__table_notActive]="switchSelectedData">
      </button>
      <button class="button button__group" (click)="clicked()" [disabled]="switchSelectedData"
              [class.button__group_active]="switchSelectedData">
      </button>
      <button class="button">
        <img src="./assets/options.svg" alt="options">
      </button>
    </div>
  </nav>
  <div class="header__filters">
    <div class="filter">
      <select class="filter__select" name="Производство" id="1">
        <option value="Производство" disabled="true" selected="true">Производство</option>
        <option value="Вариант">Вараинт1</option>
      </select>
      <select class="filter__select" name="Установка" id="2">
        <option disabled="true" selected="true">Установка</option>
      </select>
      <select class="filter__select" name="Приоритет" id="3">
        <option disabled="true" selected="true">Приоритет</option>
        <option value="Высокий">Высокий</option>
        <option value="Средний">Средний</option>
        <option value="Низкий">Низкий</option>
      </select>
      <button class="button button-filter">Сбросить фильтр</button>
    </div>
    <input type="text" placeholder="Поиск" class="filter-search">
  </div>
</section>
