<section class="footer">
  <div class="tasks">
    <div *ngFor="let filters of footer, let i = index">
      <div class="category"
          [class.stat-blue]="filters === selectedStatus"
          (click)="showBaseDataByStatus(filters)">
        <p class="category__name">{{filters.status}}</p>
        <p class="category__counter category__name">{{counterArray[i]}}</p>
      </div>
      <div class="task event-card">
        <h2 class="task-name content-title">{{filters.title}}</h2>
        <div class="task-stat">
          <button class="button">
            <img src="./assets/footerIcon.svg" alt="icon">
          </button>
          <p class="task-counter">3/4</p>
        </div>
      </div>
    </div>
  </div>
</section>
