<section class="main">
  <div class="event-card"
       *ngFor="let baseView of baseViews"
       [class.card-active]="changeBaseDataClass(baseView.status)"
       [class.disabled]="switchView">
    <div class="card-header">
      <p class="header-number">{{baseView.id}}</p>
      <p class="header-text">{{baseView.subcategory}}</p>
      <div class="header-line"></div>
      <p class="header-text">{{baseView.setup}}</p>
      <div class="header-line line-width"></div>
      <p class="header-date">{{baseView.date}}</p>
    </div>
    <div class="card-content">
      <div class="content">
        <h1 class="content-title">{{baseView.description}}</h1>
        <h1 class="content-subtitle">Количество выключений: {{baseView.quantity}}</h1>
      </div>
      <div class="content-icons">
        <p class="icon-status">{{baseView.status.status}}</p>
        <button class="button btn-stats">
          <img src="./assets/graph.svg" alt="graph">
        </button>
        <button class="button btn-delete">
          <img src="./assets/delete.svg" alt="delete">
        </button>
      </div>
    </div>
  </div>
  <div class="detailed-card" [class.disabled]="!switchView">
    <div class="section-information" *ngFor="let detailedView of detailedViews">
      <div class="section header">
        <p class="section-number">{{detailedView.id}}</p>
        <p class="section-name">{{detailedView.name}}</p>
        <p class="section-progress">{{detailedView.status}}</p>
        <img src="./assets/clock.svg" alt="clock">
        <button class="button btn-header">
          <img src="./assets/settings.svg" alt="settings">
        </button>
      </div>
      <div class="section-content">
        <h1 class="content-title title-size">{{detailedView.title}}</h1>
        <h2 class="content-subtitle title-size">{{detailedView.description}}</h2>
      </div>
      <div class="section footer">
        <div class="footer-event">
          <p class="content-title footer-title">Начало события:</p>
          <p class="content-title footer-subtitle">{{detailedView.date}}</p>
        </div>
        <div class="footer-status">{{detailedView.state.status}}</div>
        <button class="button btn-delete">
          <img src="./assets/delete.svg" alt="delete">
        </button>
      </div>
    </div>
  </div>
</section>
