* {
  margin: 0px;
  padding: 0px;
}
.page{
  position: fixed;
  top: 0;
  right: 0;
  background: #1B1E27;
  height: 100vh;
  width: 100vw;
}
.content{
  display: flex;
  flex-direction: column;
  max-width: 930px;
  max-height: 980px;
  margin: 10px auto;
  border: 1px solid rgba(96, 101, 128, 0.25);
}
